# ======================
# .NET / Server
# ======================
bin/
obj/
*.user
*.suo
*.vs
*.db

# ======================
# Node / Angular / Client
# ======================
node_modules/
dist/
npm-debug.log
package-lock.json

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.vscode/